<!doctype html>
<html lang="es-cl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesomecdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <style>
      .breadcrumb {
        background: white;
        padding-left: 0rem;
      }
      /*a serian todos los tipo link*/
      .breadcrumb a {
        color: black;
      }
      .bg-dark-primary {
        background-color: #444!important;
        margin: 0;
        padding: 0;
      }
      .bg-dark-primary .container {
        color: #9a9793
      }
      .bg-dark-primary .container p {
        width: 100%;
        text-align: right;
        margin-bottom: 0;
      }
    </style>

    {% block extra_css %}
    {% endblock %}

    <title>{% block title %}Basket app{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark-primary">
      <div class="container">
        <p>Usuario: <strong>{{request.user}}</strong> | <a href="{% url 'auth:logout' %}">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a></p>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="#">BasketApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              {% block active_navbar_basket %}<a class="nav-link" href="{% url 'basket:list' %}">Basket</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_team %}<a class="nav-link" href="{% url 'basket:team_list' %}">Equipos</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_player %}<a class="nav-link" href="{% url 'basket:player_list' %}">Jugadores</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_coach %}<a class="nav-link" href="{% url 'basket:coach_list' %}">Entrenadores</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_match %}<a class="nav-link" href="{% url 'basket:match_list' %}">Partidos</a>{% endblock %}
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      {% block content_head %}
      {% endblock %}

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'basket:list' %}"><i class="fas fa-home"></i> Basket</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ol>
      </nav>

      {% block content_body %}
      {% endblock %}            
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>