{% extends "basket/base.html" %}

	{% block title %}
	Jugadores
	{% endblock %}

	{% block active_navbar_coach %}<a class="nav-link active" href="{% url 'basket:coach_list' %}">Entrenadores</a>{% endblock %}

  {% block extra_css %}
  <style>
    .color_update {
      color: #DCD900;
      font-size: 19px;
    }
    .color_delete {
      color: #DC1700;
      font-size: 19px;
    }
  </style>
  {% endblock %}

	{% block content_head %}
	<!-- bloque titulo -->
	  <div class="row mt-2">
	    <div class="col-sm-6 col-md-8 col-lg-10">
	      <h2>Entrenadores</h2>
	    </div>
	    <div class="col-sm-6 col-md-4 col-lg-2">
	      {% if request.user.is_superuser %}
		  <a href="{% url 'basket:create_coach' %}" class="btn btn-success btn-block">Crear entrenador</a>
		  {% endif %}
	    </div>
	  </div>
	<!-- fin bloque titulo -->
	{% endblock %}

  {% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Entrenadores</li>
  {% endblock %}

	{% block content_body %}
	<!-- bloque tabla -->
	  <div class="row">
	    <div class="col-md">
	      <table class="table table-striped table-hover mt-5">
	      	<thead>
		  	  <tr>
	      	  <th>Coach</th>
		        <th>Equipo</th>
		        <th>Accion</th>
		      </tr>
		  	</thead>

		  	<tbody>
		  	  {% for coach in coachs %}
		  	  	<tr>
	            <td style="width:150px;">{{coach.name}}</td>
	            <td style="width:150px;">{{coach.team.name}}</td>
	            <td style="width:50px;">
	            	<a href="{% url 'basket:update_coach' coach.id %}">Editar <i class="fas fa-edit color_update"></i></a>
	            	{% if request.user.is_superuser %}
	            	 | 
	            	<a href="{% url 'basket:delete_coach' coach.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
	            	{% endif %}
	          	</td>
	   	  	  </tr>
	   	  	  {% endfor %}
		    </tbody>
		  </table>

	    </div>
	  </div>
	<!-- fin bloque tabla -->
	{% endblock %}