{% extends "basket/base.html" %}
{% load bootstrap4 %}

  {% block title %}
  Crear coach
  {% endblock %}

  {% block active_navbar_coach %}<a class="nav-link active" href="{% url 'basket:coach_list' %}">Entrenadores</a>{% endblock %}

  {% block content_head %}
	<h2>Agregar Coach</h2>
	{% endblock %}

	{% bootstrap_messages %}

  {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'basket:coach_list' %}">Entrenadores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear entrenador</li>
  {% endblock %}

	{% block content_body %}
	<form class="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fas fa-save"></i> Guardar coach
		  </button>
		{% endbuttons %}
	</form>
  {% endblock %}