{% extends "basket/base.html" %}
{% load bootstrap4 %}

    {% block title %}
    Crear jugador
    {% endblock %}

    {% block active_navbar_player %}<a class="nav-link active" href="{% url 'basket:player_list' %}">Jugadores</a>{% endblock %}

    {% block content_head %}
	<h2>Agregar Jugador</h2>
	{% endblock %}

    {% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'basket:player_list' %}">Jugadores</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear jugador</li>
    {% endblock %}

	{% bootstrap_messages %}

	{% block content_body %}
	<form class="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fas fa-save"></i> Guardar jugador
		  </button>
		{% endbuttons %}
	</form>
    {% endblock %}