{% extends "basket/base.html" %}

    {% block title %}
    Eliminar equipo
    {% endblock %}

    {% block active_navbar_team %}<a class="nav-link active" href="{% url 'basket:team_list' %}">Equipos</a>{% endblock %}

    {% block content_head %}
    <h2>Eliminar Equipo:</h2>
    {% endblock %}

    {% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'basket:team_list' %}">Equipos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Eliminar equipo</li>
    {% endblock %}

    {% block content_body %}
	<p>¿Esta seguro que desea eliminar al equipo <strong>{{team.name}}</strong>?</p>
	<form class="" method="post">
	  {% csrf_token %}

	  <input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'basket:team_list' %}" class="btn btn-light">Cancelar</a>
	</form>
    {% endblock %}