{% extends "basket/base.html" %}

    {% block title %}
    Eliminar jugador
    {% endblock %}

    {% block active_navbar_player %}<a class="nav-link active" href="{% url 'basket:player_list' %}">Jugadores</a>{% endblock %}

    {% block content_head %}
    <h2>Eliminar Jugador:</h2>
    {% endblock %}

    {% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'basket:player_list' %}">Jugadores</a></li>
      <li class="breadcrumb-item active" aria-current="page">Eliminar jugador</li>
    {% endblock %}

    {% block content_body %}
	<p>¿Esta seguro que desea eliminar al jugador <strong>{{player.name}}</strong>?</p>
	<form class="" method="post">
	  {% csrf_token %}

	  <input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'basket:player_list' %}" class="btn btn-light">Cancelar</a>
	</form>
    {% endblock %}