{% extends "basket/base.html" %}

  {% block title %}
  Eliminar coach
  {% endblock %}

  {% block active_navbar_coach %}<a class="nav-link active" href="{% url 'basket:coach_list' %}">Entrenadores</a>{% endblock %}

  {% block content_head %}
  <h2>Eliminar Coach:</h2>
  {% endblock %}

  {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'basket:coach_list' %}">Entrenadores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Eliminar entrenador</li>
  {% endblock %}

  {% block content_body %}
	<p>¿Esta seguro que desea eliminar al coach <strong>{{coach.name}}</strong>?</p>
	<form class="" method="post">
	  {% csrf_token %}

	  <input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'basket:coach_list' %}" class="btn btn-light">Cancelar</a>
	</form>
	{% endblock %}