{% extends "basket/base.html" %}

      {% block title %}
      Home
      {% endblock %}

      {% block active_navbar_basket %}<a class="nav-link active" href="{% url 'basket:list' %}">Basket</a>{% endblock %}

      {% block content_head %}
      <h2>Aplicacion basket</h2>
      {% endblock %}

      {% block breadcrumb %}
      {% endblock %}

      {% block content_body %}
      <div class="row">
        <div class="col">
          <h2>Datos del entrenador</h2>
            <ul>
              <li><a class="nav-link active" href="{% url 'basket:team_list' %}">Equipo</a></li>
              <li><a class="nav-link active" href="{% url 'basket:player_list' %}">Jugadores</a></li>
              <li><a class="nav-link active" href="{% url 'basket:match_list' %}">Partidos</a></li>
            </ul>
        </div>
      </div>
      
      <div class="row">
        {% if not request.user.is_superuser %}
        <div class="col-md-4">
        <h2>Últimos 3 partidos planificados</h2>
        {% for match in last_matches %}
        <ul>
          <li>{{match.name}}</li>
        </ul>
        {% endfor %}
        </div>
        {% endif %}

        {% if request.user.is_superuser %}
        <div class="col-md-4">
        <h2>Últimos 3 partidos planificados</h2>
        {% for match in last_matches_superuser %}
        <ul>
          <li>{{match.name}}</li>
        </ul>
        {% endfor %}
        </div>
        {% endif %}

        {% if not request.user.is_superuser %}
        <div class="col-md-4">
        <h2>Últimos 3 jugadores incorporados</h2>
        {% for player in last_players %}
        <ul>
          <li>{{player.name}}</li>
        </ul>
        {% endfor %}
        </div>
        {% endif %}

        {% if request.user.is_superuser %}
        <div class="col-md-4">
        <h2>Últimos 3 jugadores incorporados</h2>
        {% for player in last_players_superuser %}
        <ul>
          <li>{{player.name}}</li>
        </ul>
        {% endfor %}
        </div>
        {% endif %}

        {% if request.user.is_superuser %}
        <div class="col-md-4">
        <h2>Ultimos 3 entrenadores incorporados al sistema</h2>
        {% for coach in last_coaches %}
        <ul>
          <li>{{coach.name}}</li>
        </ul>
        {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endblock %}