{% extends "basket/base.html" %}

	{% block title %}
	Partidos Registrados
	{% endblock %}

	{% block active_navbar_match %}<a class="nav-link active" href="{% url 'basket:match_list' %}">Partidos</a>{% endblock %}

	{% block content_head %}
	<!-- bloque titulo -->
	<div class="row mt-2">
		<div class="col-md">
			<h2>Partidos</h2>
		</div>
	</div>
	<!-- fin bloque titulo -->
	{% endblock %}

    {% block breadcrumb %}
      <li class="breadcrumb-item active" aria-current="page">Partidos</li>
    {% endblock %}

	{% block content_body %}
	<!-- bloque tabla -->		
	<div class="row">
		<div class="col-md mt-3">
		 	<table class="table table-striped table-hover">
		 		<thead>
					<tr>
				      <th>Partido</th>
				      <th>Team 1</th>
				      <th>Team 2</th>
				      <th>Fecha</th>
					</tr>
				</thead>

				<tbody>
					{% for match in matches %}
					<tr>
				      <td>{{match.name}}</td>
				      <td>{{match.team1}}</td>
				      <td>{{match.team2}}</td>
				      <td>{{match.date}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- fin bloque tabla -->
	{% endblock %}