{% extends "basket/base.html" %}

	    {% block title %}
	    Jugadores
	    {% endblock %}

	    {% block active_navbar_player %}<a class="nav-link active" href="{% url 'basket:player_list' %}">Jugadores</a>{% endblock %}

      {% block extra_css %}
      <style>
      	.color_update {
      		color: #DCD900;
      		font-size: 19px;
      	}
      	.color_delete {
      		color: #DC1700;
      		font-size: 19px;
      	}
      </style>
      {% endblock %}

			{% block content_head %}
			<!-- bloque titulo -->
			  <div class="row mt-2">
			    <div class="col-sm-6 col-md-8 col-lg-10">
			      <h2>Jugadores agrupados por equipo</h2>
			    </div>
			    <div class="col-sm-6 col-md-4 col-lg-2">
			      {% if request.user.is_superuser %}
				  <a href="{% url 'basket:create_player' %}" class="btn btn-success btn-block">Crear Jugador</a>
				  {% endif %}
			    </div>
			  </div>
			<!-- fin bloque titulo -->
			{% endblock %}

      {% block breadcrumb %}
        <li class="breadcrumb-item active" aria-current="page">Jugadores</li>
      {% endblock %}

			{% block content_body %}
			<!-- bloque tabla -->
			  <div class="row">
			    <div class="col-md mt-5">
			    {% for team in teams %}
				  <h3>Equipo: {{team.name}}</h3>
			      <table class="table table-striped table-hover">
			      	<thead>
				  	  <tr>
			      	  <th>Jugadores</th>
			      	  <th>Accion</th>
				      </tr>
				  	  </thead>
						
						<tbody>
				  	  {% for player in team.player_set.all %}
				  	  <tr>
			            <td style="width:300px;">{{player.name}}</td>
			            <td style="width:50px;">
			            	<a href="{% url 'basket:update_player' player.id %}">Editar <i class="fas fa-edit color_update"></i></a>
			            	{% if request.user.is_superuser %}
			            	 |
			            	<a href="{% url 'basket:delete_player' player.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
			            	{% endif %}
			            </td>
			   	  	  </tr>
			   	  	{% endfor %}
				    </tbody>
				  </table>
				  {% endfor %}

			    </div>
			  </div>
			<!-- fin bloque tabla -->
			{% endblock %}