{% extends "basket/base.html" %}

      {% block title %}
      Equipos
      {% endblock %}

      {% block active_navbar_team %}<a class="nav-link active" href="{% url 'basket:team_list' %}">Equipos</a>{% endblock %}

      {% block extra_css %}
      <style>
      	.color_update {
      		color: #DCD900;
      		font-size: 19px;
      	}
      	.color_delete {
      		color: #DC1700;
      		font-size: 19px;
      	}
      </style>
      {% endblock %}

			{% block content_head %}
  	  <!-- bloque titulo -->
		  <div class="row mt-2">
		    <div class="col-sm-6 col-md-8 col-lg-10">
		      <h2>Lista de equipos registrados</h2>
		    </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
		    	{% if request.user.is_superuser %}
			  	<a href="{% url 'basket:create_team' %}" class="btn btn-success btn-block">Crear Team</a>
			  	{% endif %}
		    </div>
		  </div>
		  <!-- fin bloque titulo -->
		  {% endblock %}

      {% block breadcrumb %}
        <li class="breadcrumb-item active" aria-current="page">Equipos</li>
      {% endblock %}

      {% block content_body %}
		  <!-- bloque tabla -->
		  <div class="row">
		    <div class="col-md">

		      <table class="table table-striped table-hover mt-5">
		      	<thead>
			  	  <tr>
		      	    <th>Equipo</th>
		      	    <th>Accion</th>
			      </tr>
			  	</thead>

			  	<tbody>
			  	    {% for team in teams %}
			  	    <tr>
		            <td style="width:300px;">{{team.name}}</td>
		            <td style="width:50px;">
		            	<a href="{% url 'basket:update_team' team.id %}">Editar <i class="fas fa-edit color_update"></i></a>
		            	{% if request.user.is_superuser %}
		            	 | 
		            	<a href="{% url 'basket:delete_team' team.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
		            	{% endif %}
		            </td>
		   	  	  </tr>
		   	  	  {% endfor %}
			    </tbody>
			  </table>


			  {% if teams.has_other_pages %}
			  <nav aria-label="Page navigation">
			    <ul class="pagination">
			      {% if teams.has_previous %}
			        <li class="page-item"><a href="?page={{ teams.previous_page_number }}" class="page-link">&laquo;</a></li>
			      {% else %}
			        <li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
			      {% endif %}

			      {% for i in teams.paginator.page_range %}
			        {% if teams.number == i %}
			          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
			        {% else %}
			          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			        {% endif %}
			      {% endfor %}

			      {% if teams.has_next %}
			        <li><a href="?page={{ teams.next_page_number }}" class="page-link">&raquo;</a></li>
			      {% else %}
			        <li class="disabled"><span class="page-link">&raquo;</span></li>
			      {% endif %}
			    </ul>
			  {% endif %}
			  </nav>

		    </div>
		  </div>
		  <!-- fin bloque tabla -->
      {% endblock %}