{% extends "basket/base.html" %}
{% load bootstrap4 %}

    {% block title %}
    Editar equipo
    {% endblock %}

    {% block active_navbar_team %}<a class="nav-link active" href="{% url 'basket:team_list' %}">Equipos</a>{% endblock %}

    {% block content_head %}
    <h2>Editar Equipo:</h2>
    {% endblock %}

    {% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'basket:team_list' %}">Equipos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar equipo</li>
    {% endblock %}

  	{% bootstrap_messages %}	
  	
    {% block content_body %}
  	<form class="" method="post" enctype="multipart/form-data">
  	  {% csrf_token %}
  	  {% bootstrap_form form %}
  	  {% buttons %}
     	  <button type="submit" class="btn btn-primary btn-lg">
          <i class="fas fa-edit"></i> Editar equipo
        </button>
    	{% endbuttons %}
  	</form>
    {% endblock %}