{% extends "basket/base.html" %}
{% load bootstrap4 %}

  {% block title %}
  Editar coach
  {% endblock %}

  {% block active_navbar_coach %}<a class="nav-link active" href="{% url 'basket:coach_list' %}">Entrenadores</a>{% endblock %}

  {% block content_head %}
	<h2>Editar Coach:</h2>
	{% endblock %}

  {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'basket:coach_list' %}">Entrenadores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar entrenador</li>
  {% endblock %}

	{% bootstrap_messages %}
	
	{% block content_body %}
	<a href="{% url 'basket:update_coach_password' %}" class="btn btn-success btn-block">Cambiar contraseña</a>
	<form class="" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  	{% bootstrap_form userform %}
		{% bootstrap_form form %}
		{% buttons %}
	    <button type="submit" class="btn btn-primary btn-lg">
	      <i class="fas fa-edit"></i> Editar coach
	    </button>
	  {% endbuttons %}
	</form>
	{% endblock %}